.form {
  width: 20rem;
  display: flex;
}

.form__color-input {
  width: 100%;
  color: inherit;
  font-size: 1rem;
  background-color: hsl(248deg, 25%, 18%);
  border: 2px solid hsl(248deg, 13%, 36%);
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
}
