.square {
  width: 20rem;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: hsl(245deg, 50%, 91%); */
  background-color: hsl(248deg, 25%, 18%);
  border: 2px solid hsl(248deg, 13%, 36%);
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}
